<div>
    <div class="bg-[#ae9a64]">
        <div class="flex justify-center gap-10 py-6 font-bold font-navbar text-xl">
            <a routerLink="/home"
               routerLinkActive="text-white"
               class="cursor-pointer text-[#323232] tracking-wide hover:text-white transition-colors duration-300">Inicio</a>
            <a routerLink="/carta"
               routerLinkActive="text-white"
               class="cursor-pointer text-[#323232] tracking-wide hover:text-white transition-colors duration-300">Carta</a>
            <a routerLink="/eventos"
               routerLinkActive="text-white"
               class="cursor-pointer text-[#323232] tracking-wide hover:text-white transition-colors duration-300">Eventos</a>
            <a routerLink="/contacto"
               routerLinkActive="text-white"
               class="cursor-pointer text-[#323232] tracking-wide hover:text-white transition-colors duration-300">Contacto</a>
        </div>
    </div>
    <div class="bg-[#323232]">
        <div class="py-1 flex justify-center">
            <p class="text-[#ae9a64] text-sm font-roboto italic">Sauce Grande Bajo Mz.K Lt.5 Tel. +51-964-289-904</p>
        </div>
    </div>    
</div>
